* {
    margin: 8px;
    padding: 2px;
}
.container{
    border: px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

    box-shadow: 0 1px 4px;
}
.container:hover{
transform: scale(1.01);
animation-name: color;
animation-duration: 10s;
transition: animation 0.3 ease;
}
button{
    background-color: blueviolet ;
    border-radius: 5px;
    width: 100px;
    display: inline-block;
}
body{
    background-color: rgb(47, 111, 143);
}
@keyframes color{
    10%{
        box-shadow: 0 2px 30px rgb(228, 231, 229);
    }
    10%{
        box-shadow: 0 2px 20px rgb(113, 114, 117),
    }
    10%{
        box-shadow: 0 5px 10px rgba(8, 8, 8, 0.788),
    }
    10%{
        box-shadow: 0 2px 10px rgba(9, 189, 180, 0.788),
    }
    10%{
        box-shadow: 0 2px 10px rgba(189, 9, 9, 0.788),
    }
    10%{
        box-shadow: 0 2px 10px rgba(63, 236, 11, 0.938),
    }
    10%{
        box-shadow: 0 2px 10px rgba(212, 226, 14, 0.911)),
    }
    10%{
        box-shadow: 0 2px 10px rgba(189, 9, 159, 0.788),
    }
    10%{
        box-shadow: 0 2px 10px rgba(32, 2, 100, 0.788),
    }
    10%{
        box-shadow: 0 2px 10px rgba(9, 189, 105, 0.788),
    }
}