*{
    margin: 10px;

}
body{
    height: 600px;
        background-image: url("ri2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
      background-color: blueviolet;
    display: flex;
    justify-content: center;
}
#greeting{
    
    position: relative;
    margin-top: 25%;
    display: flexbox;
    align-items: center;
    border-radius: 20px;
    border:1px solid;
    height: 50%;
    padding: 40px;
    box-shadow: 0 3px 7px;
}
#greeting:hover{
    box-shadow: 0 3px 7px white;
}
button{
    color: red;
width: 200px;
height: 40px;
margin: 10%;
}
p{
    border: 10px solid cyan;
}
input{
    height: 30px;
    border-color: transparent;
    border-bottom:1px solid rgba(55, 98, 179, 0.61) ;
}